@use "reset"; // use規則必須在其它規則之上
@use "variables" as *;
@use "function" as *;
@use "./keyframe.scss";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&display=swap");

@font-face {
    font-family: Garf;
    src: url(../webfonts/Garf-normal.ttf);
}

/* 共用區 */
// 區塊標題
.title {
    margin: $space-ex 0 $space-xl ;

    * {
        text-align: center;
    }

    h2 {
        position: relative;
        font-family: $family-display;
        font-size: $f-s-xxxl;
        @include border-b;
        font-weight: $f-w-b ;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -12px;
            width: 15px;
            height: 15px;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 3px;
            right: -15px;
            width: 10px;
            height: 10px;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
    }
}

.logo {
    width: 55px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $space-xxs;
    }
}

// 迴圈 (不需要調用，可直接編譯語法 /no function)
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

.more {
    width: 100px; // 行高設定和高度一樣，文字可垂直置中
    line-height: 50px; // 單行文字垂直置中
    text-align: center;
    background-color: $lesser-4;
    margin-top: $space-lg;
    color: $Light;
    border-radius: $radius-ex;
}

/* 首頁區 */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $space-xs $space-xs;

    ul {
        @extend %flex-end;
    }

    .menu {
        padding: $space-x-xs;
        border-radius: $radius-ex;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $space-xs;
            @include border-b($width: 2px, $color: transparent);

            &:hover {
                color: $Black;
                @include border-b($width: 2px, $color: $Black);
            }
        }
    }
}

/* 主要內容區 */
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

.list-box {
    display: flex;
    gap: $space-xl;
    width: $w-80;
    max-width: 1100px; // 集中注意力在中間

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; // 超過圓角被隱藏
    }
}


/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 25vh;

        img {
            @extend %img-cover;
        }
    }

    .text-box {
        padding: $space-md;

        h2 {
            font-size: $f-s-lg;
            font-weight: $f-w-m;
            margin-bottom: $space-sm;
        }

        p {
            @extend %multiple-lines;
            -webkit-line-clamp: 4;
        }
    }
}

// 服務項目
#service {
    .item {
        height: 50vh;
        background-size: cover; // 自動縮放，並剪裁掉右下圖片範圍
        background-position: center; // 背景置中要另外寫

        &:nth-child(1) {
            background-image: url(../images/pt_svc1.jpg);
        }

        &:nth-child(2) {
            background-image: url(../images/pt_svc2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/pt_svc3.jpg);
        }

        &:nth-child(4) {
            background-image: url(../images/pt_svc4.jpg);
        }
    }
}

/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media ($mediaMd) {
        height: auto;
    }

    .content {
        margin-top: 20px;
        display: flex;
        width: $w-80;

        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $space-x-xl;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $space-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;
        }

        /* 聯絡表單 */
        #contactform {
            >* {
                display: block;
                width: $w-100;
            }

            label {
                margin: $space-label;
            }

            .btn-animat {
                @extend %btn-animat;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
            }
        }
    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;
        }

        @media ($mediaSm) {
            display: none;
        }
    }

    .flower1 {
        left: 0;
        bottom: 0;
    }

    .flower2 {
        right: -20px;
        top: 100px;
        transform: rotate(-30deg);
    }
}

/* 頁尾區 */
footer {
    @extend %flex-between;
    padding: 20px 30px;
    background-color: $lesser-4;
    color: $Light;

    @media ($mediaLg) {
        flex-direction: column;
    }

    a {
        color: $Light;
    }

    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md;
        }
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $space-ex;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: $space-md;
            }

            li {
                padding: $space-y-xs;
            }
        }

        >li {
            margin: $space-x-xs;
        }
    }

    small {
        align-self: flex-end;

        @media ($mediaSm) {
            align-self: flex-start;
            margin-top: $space-xl;
        }
    }

}